<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title th:text="${company.compName}"/>
</head>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
<body>
	<table style="width:100%">
		<tr>
			<th>id</th>
			<th>company name</th>
			<th>password</th>
			<th>email</th>
		</tr>
		<tr>
			<td th:text="${company.id}"/>
			<td th:text="${company.compName}"/>
			<td th:text="${company.password}"/>
			<td th:text="${company.email}"/>

		</tr>




	</table>


</body>
</html>